<mat-card class="article-card" [routerLink]="['/articles', article.id]">
    <mat-card-header>
        <mat-card-title data-testid="article-title">
            {{article.title}}
        </mat-card-title>
        <mat-card-subtitle class="metadata-row">
            <span data-testid="article-date">{{article.createdAt|date:'dd/MM/yyyy'}}</span><span class="author"
                data-testid="article-author">{{article.authorName}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p data-testid="article-content">
            {{article.content}}
        </p>
    </mat-card-content>
</mat-card>