<mat-card class="article-card" [routerLink]="['/articles', article.id]">
    <mat-card-header>
        <mat-card-title>
            {{article.title}}
        </mat-card-title>
        <mat-card-subtitle class="metadata-row">
            <span>{{article.createdAt|date:'dd/MM/yyyy'}}</span><span class="author">{{article.authorName}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{article.content}}
        </p>
    </mat-card-content>
</mat-card>