<mat-toolbar color="primary" [class.is-guest]="!authService.isLoggedIn()">
    <img alt="Logo" class="logo-header" routerLink="/">

    <span class="spacer"></span>

    @if (authService.isLoggedIn()) {
    <div class="desktop-only links">
        <button mat-button class="logout-btn" (click)="onLogout()">Se déconnecter</button>
        <button mat-button routerLink="/articles" routerLinkActive="active-link">Articles</button>
        <button mat-button routerLink="/themes" routerLinkActive="active-link">Thèmes</button>
        <button mat-icon-button routerLink="/me" routerLinkActive="active-link" class="header-profile-icon">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
    <div class="mobile-only">
        <button mat-icon-button (click)="toggleSidenav.emit()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    }
</mat-toolbar>