:host {
    display: block;
    height: var(--header-height);
    box-sizing: border-box;
    border-bottom: 1px solid black;

    mat-toolbar {
        height: 100%;
    }
}


.spacer {
    flex: 1 1 auto;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: flex;
    align-items: center;

    button {
        font-size: x-large;
        color: black;
    }

    .header-profile-icon {
        width: 48px;
        height: 48px;

        mat-icon {
            font-size: 36px;
            width: 36px;
        }
    }
}

.active-link {
    color: #7050CF !important;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .is-guest {
        display: none;
    }
}