<div class="article-details-container">
    <div class="back-action">
        <button mat-icon-button class="back-btn" routerLink="/" aria-label="Retour">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    @if(article$ | async; as article){
    <mat-card class="article-detail">
        <mat-card-header>
            <mat-card-title>
                {{article.title}}
            </mat-card-title>
            <mat-card-subtitle class="metadata-row">
                <span>{{article.createdAt|date:'dd/MM/yyyy'}}</span><span
                    class="author">{{article.authorName}}</span><span class="theme">{{article.themeTitle}}</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{article.content}}
            </p>
        </mat-card-content>
    </mat-card>
    }
</div>
<hr>
<div class="comments-container">
    <h3> Commentaires</h3>
    <div class="comment-cards-container">
        @for (comment of comments$ | async; track comment.id) {
        <app-comment-card [comment]="comment"></app-comment-card>
        }@empty {
        <p>Soyez le premier à commenter !</p>
        }
    </div>
    <div class="comment-post-container">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmitForm()">
            <mat-form-field appearance="outline">
                <mat-label>Commentaire</mat-label>
                <textarea matInput formControlName="content" placeholder="Ecrivez ici votre commentaire" rows="3">
            </textarea>
            </mat-form-field>
            <button mat-icon-button type="submit" [disabled]="commentForm.invalid">
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </div>
</div>