<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" data-testid="sidenav">
        <div class="links">
            <button mat-button (click)="onLogout();sidenav.close()" class="logout-btn" data-testid="sidenav-logout">Se
                déconnecter</button>
            <button mat-button routerLink="/articles" routerLinkActive="active-link" (click)="sidenav.close()"
                data-testid="sidenav-articles">Articles</button>
            <button mat-button routerLink="/themes" routerLinkActive="active-link" (click)="sidenav.close()"
                data-testid="sidenav-themes">Thèmes</button>
        </div>
        <div class="spacer"></div>
        <button mat-icon-button routerLink="/me" routerLinkActive="active-link" (click)="sidenav.close()"
            class="sidenav-profile-icon" data-testid="sidenav-profile">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        @if (authService.isLoggedIn()) {
        <app-header (toggleSidenav)="sidenav.toggle()" data-testid="app-header" />
        <router-outlet></router-outlet>
        } @else {
        <app-landing data-testid="app-landing" />
        }
    </mat-sidenav-content>
</mat-sidenav-container>