.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;

    .logo {
        width: 80%;
        max-width: 450px;
        height: auto;
        margin-bottom: 2rem;
        content: var(--app-logo);
    }

    .button-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 300px;
    }
}


@media (min-width: 768px) {
    .landing-container {
        .button-group {
            flex-direction: row;
            max-width: none;
            justify-content: center;

            button {
                width: 180px;
            }
        }
    }
}